#discriptionBackground {
    display: inline-block;
    height: 80%;
    width: 40%;
}

.cent-heading{
    padding: 20px;
    margin: 70px;
  }



  #cool-text {
    color: blue;
    text-align: center;
  }

  #order-select {
    color: blueviolet;
  }

  h2{
      padding: 20px;
  }

body.outset{
    border-style: outset;
    padding: 20px;
    margin: 70px;
}
